.LocationTag{
    font-size: medium;
    color: white;
    padding: 9px 0 9px 9px;
    background-color: #1f2125;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 5%;
}

.Flag{
padding-right: 10px;
}